 
html {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
body {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
div {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
span {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
applet {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
object {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
iframe {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
h1 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
h2 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
h3 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
h4 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
h5 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
h6 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
p {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
blockquote {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
pre {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
a {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
abbr {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
acronym {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
address {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
big {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
cite {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
code {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
del {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
dfn {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
em {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
font {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
img {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
ins {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
kbd {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
q {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
s {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
samp {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
small {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
strike {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
strong {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
sub {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
sup {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
tt {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
var {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
b {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
u {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
i {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
center {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
dl {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
dt {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
dd {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
li {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
fieldset {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
form {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
label {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
legend {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
html {
	background: rgb(236, 236, 236);
}
body {
	 background: rgb(236, 236, 236);
}
body {
	-webkit-overflow-scrolling: touch;
}
ol {
	outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
ul {
	outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}
blockquote {
	quotes: none;
}
q {
	quotes: none;
}
blockquote::before {
	content: none;
}
blockquote::after {
	content: none;
}
q::before {
	content: none;
}
q::after {
	content: none;
}
:focus {
	outline: 0px;
}
table {
	margin: 0px; padding: 0px; outline: 0px; vertical-align: baseline;
}
caption {
	margin: 0px; padding: 0px; outline: 0px; vertical-align: baseline;
}
tbody {
	margin: 0px; padding: 0px; outline: 0px; vertical-align: baseline;
}
tfoot {
	margin: 0px; padding: 0px; outline: 0px; vertical-align: baseline;
}
thead {
	margin: 0px; padding: 0px; outline: 0px; vertical-align: baseline;
}
tr {
	margin: 0px; padding: 0px; outline: 0px; vertical-align: baseline;
}
th {
	margin: 0px; padding: 0px; outline: 0px; vertical-align: baseline;
}
td {
	margin: 0px; padding: 0px; outline: 0px; vertical-align: baseline;
}
textarea {
	margin: 0px; padding: 0px; outline: 0px; vertical-align: baseline;
}
table {
	border-collapse: collapse;
}
caption {
	text-align: left;
}
#ibm-footer li::before {
	display: none;
}
th {
	text-align: left;
}
.ibm-access {
	width: 1px; height: 1px; overflow: hidden; position: absolute !important; clip: rect(1px, 1px, 1px, 1px);
}
html {
	font-size: inherit;
}
body {
	font-size: inherit;
}
div {
	font-size: inherit;
}
span {
	font-size: inherit;
}
applet {
	font-size: inherit;
}
object {
	font-size: inherit;
}
iframe {
	font-size: inherit;
}
p {
	font-size: inherit;
}
blockquote {
	font-size: inherit;
}
pre {
	font-size: inherit;
}
a {
	font-size: inherit;
}
abbr {
	font-size: inherit;
}
acronym {
	font-size: inherit;
}
address {
	font-size: inherit;
}
big {
	font-size: inherit;
}
cite {
	font-size: inherit;
}
code {
	font-size: inherit;
}
del {
	font-size: inherit;
}
dfn {
	font-size: inherit;
}
em {
	font-size: inherit;
}
font {
	font-size: inherit;
}
img {
	font-size: inherit;
}
ins {
	font-size: inherit;
}
kbd {
	font-size: inherit;
}
q {
	font-size: inherit;
}
s {
	font-size: inherit;
}
samp {
	font-size: inherit;
}
small {
	font-size: inherit;
}
select {
	font-size: inherit;
}
strike {
	font-size: inherit;
}
strong {
	font-size: inherit;
}
sub {
	font-size: inherit;
}
sup {
	font-size: inherit;
}
tt {
	font-size: inherit;
}
var {
	font-size: inherit;
}
b {
	font-size: inherit;
}
u {
	font-size: inherit;
}
i {
	font-size: inherit;
}
center {
	font-size: inherit;
}
dl {
	font-size: inherit;
}
dt {
	font-size: inherit;
}
dd {
	font-size: inherit;
}
li {
	font-size: inherit;
}
fieldset {
	font-size: inherit;
}
form {
	font-size: inherit;
}
label {
	font-size: inherit;
}
input {
	font-size: inherit;
}
legend {
	font-size: inherit;
}
table {
	font-size: inherit;
}
caption {
	font-size: inherit;
}
tbody {
	font-size: inherit;
}
tfoot {
	font-size: inherit;
}
thead {
	font-size: inherit;
}
tr {
	font-size: inherit;
}
th {
	font-size: inherit;
}
td {
	font-size: inherit;
}
textarea {
	font-size: inherit;
}
html {
	color: rgb(50, 50, 50); font-family: Arial,sans-serif; font-size: 12px;
}
body {
	color: rgb(50, 50, 50); font-family: Arial,sans-serif; font-size: 12px;
}
html .ibm-alternate-background {
	color: rgb(255, 255, 255);
}
body .ibm-alternate-background {
	color: rgb(255, 255, 255);
}
html .ibm-alternate-background a {
	color: rgb(255, 255, 255);
}
body .ibm-alternate-background a {
	color: rgb(255, 255, 255);
}
html .ibm-type {
	font-family: "HelvRegularIBM","Helvetica Neue",Arial,sans-serif;
}
body .ibm-type {
	font-family: "HelvRegularIBM","Helvetica Neue",Arial,sans-serif;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
sup {
	top: -0.5em; line-height: 1; font-size: 0.8em; position: relative;
}
.ibm-type strong {
	font-family: "HelveticaNeue-Bold","HelvBoldIBM",Arial,sans-serif; font-weight: normal;
}
.ibm-type b {
	font-family: "HelveticaNeue-Bold","HelvBoldIBM",Arial,sans-serif; font-weight: normal;
}
h1 {
	padding: 0px 0px 15px; line-height: 1.62rem; font-size: 1rem; font-weight: normal;
}
h2 {
	padding: 0px 0px 15px; line-height: 1.62rem; font-size: 1rem; font-weight: normal;
}
h3 {
	padding: 0px 0px 15px; line-height: 1.62rem; font-size: 1rem; font-weight: normal;
}
h4 {
	padding: 0px 0px 15px; line-height: 1.62rem; font-size: 1rem; font-weight: normal;
}
h5 {
	padding: 0px 0px 15px; line-height: 1.62rem; font-size: 1rem; font-weight: normal;
}
h6 {
	padding: 0px 0px 15px; line-height: 1.62rem; font-size: 1rem; font-weight: normal;
}
.ibm-type h1 {
	font-family: "HelvRegularIBM","Helvetica Neue",Arial,sans-serif;
}
.ibm-type h2 {
	font-family: "HelvRegularIBM","Helvetica Neue",Arial,sans-serif;
}
.ibm-type h3 {
	font-family: "HelvRegularIBM","Helvetica Neue",Arial,sans-serif;
}
.ibm-type h4 {
	font-family: "HelvRegularIBM","Helvetica Neue",Arial,sans-serif;
}
.ibm-type h5 {
	font-family: "HelvRegularIBM","Helvetica Neue",Arial,sans-serif;
}
.ibm-type h6 {
	font-family: "HelvRegularIBM","Helvetica Neue",Arial,sans-serif;
}
.ibm-h1 {
	line-height: 2.81rem; font-size: 2.5rem;
}
.ibm-medium.ibm-h1 {
	line-height: 3.43rem; font-size: 3.12rem;
}
.ibm-large.ibm-h1 {
	line-height: 4.06rem; font-size: 3.75rem;
}
.ibm-h2 {
	line-height: 2.18rem; font-size: 1.87rem;
}
.ibm-h3 {
	line-height: 1.87rem; font-size: 1.56rem;
}
.ibm-contact-widget h3 {
	line-height: 1.87rem; font-size: 1.56rem;
}
.ibm-h4 {
	line-height: 1.56rem; font-size: 1.25rem;
}
.ibm-bold {
	font-weight: bold;
}
.ibm-mobile-section-heading {
	font-weight: bold;
}
.ibm-type .ibm-bold {
	font-family: "HelveticaNeue-Bold","HelvBoldIBM",Arial,sans-serif; font-weight: normal;
}
.ibm-type .ibm-mobile-section-heading {
	font-family: "HelveticaNeue-Bold","HelvBoldIBM",Arial,sans-serif; font-weight: normal;
}
.ibm-regular {
	font-weight: normal;
}
.ibm-type .ibm-regular {
	font-family: "HelvRegularIBM","Helvetica Neue",Arial,sans-serif;
}
.ibm-light {
	font-weight: normal;
}
.ibm-contact-widget h3 {
	font-weight: normal;
}
.ibm-type .ibm-light {
	font-family: "HelveticaNeue-Light","HelvLightIBM",Arial,sans-serif;
}
 
.ibm-stumbleupon-encircled-link::before {
	content: "\f17e";
}
.ibm-tag-link::before {
	content: "\f17f";
}
.ibm-task-link::before {
	content: "\f180";
}
.ibm-tile-link::before {
	content: "\f181";
}
.ibm-tools-link::before {
	content: "\f182";
}
.ibm-top-link::before {
	content: "\f183";
}
.msie8 .ibm-btt-auto a.ibm-top-link::before {
	content: "\f183";
}
.ibm-twitter-link::before {
	content: "\f184";
}
.ibm-twitter-encircled-link::before {
	content: "\f185";
}
.ibm-upload-link::before {
	content: "\f186";
}
.ibm-videochat-link::before {
	content: "\f187";
}
.ibm-view-link::before {
	content: "\f188";
}
.ibm-weibo-link::before {
	content: "\f189";
}
.ibm-weibo-encircled-link::before {
	content: "\f18a";
}
.ibm-wiki-link::before {
	content: "\f18b";
}
.ibm-world-link::before {
	content: "\f18c";
}
.ibm-wykop-link::before {
	content: "\f18d";
}
.ibm-wykop-encircled-link::before {
	content: "\f18e";
}
.ibm-xing-link::before {
	content: "\f18f";
}
.ibm-xing-encircled-link::before {
	content: "\f190";
}
.ibm-yahoo-link::before {
	content: "\f191";
}
.ibm-yahoo-encircled-link::before {
	content: "\f192";
}
.ibm-youtube-link::before {
	content: "\f193";
}
.ibm-youtube-encircled-link::before {
	content: "\f194";
}
 [data-icon]::before {
	content: attr(data-icon);
}
[data-icon]::before {
	left: 1px; text-transform: none; font-family: "icons-ibm-v3"; font-size: 2em; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; display: inline-block; position: absolute; speak: none; text-rendering: optimizeLegibility; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased;
}
[class*='-link']::before {
	left: 1px; text-transform: none; font-family: "icons-ibm-v3"; font-size: 2em; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; display: inline-block; position: absolute; speak: none; text-rendering: optimizeLegibility; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b::before {
	left: 1px; text-transform: none; font-family: "icons-ibm-v3"; font-size: 2em; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; display: inline-block; position: absolute; speak: none; text-rendering: optimizeLegibility; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased;
}
.ibm-hasicon::before {
	left: 1px; text-transform: none; font-family: "icons-ibm-v3"; font-size: 2em; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; display: inline-block; position: absolute; speak: none; text-rendering: optimizeLegibility; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased;
}
.ibm-community::before {
	left: 1px; text-transform: none; font-family: "icons-ibm-v3"; font-size: 2em; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; display: inline-block; position: absolute; speak: none; text-rendering: optimizeLegibility; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased;
}
.ibm-symp-doc::before {
	left: 1px; text-transform: none; font-family: "icons-ibm-v3"; font-size: 2em; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; display: inline-block; position: absolute; speak: none; text-rendering: optimizeLegibility; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased;
}
.ibm-symp-presentation::before {
	left: 1px; text-transform: none; font-family: "icons-ibm-v3"; font-size: 2em; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; display: inline-block; position: absolute; speak: none; text-rendering: optimizeLegibility; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased;
}
.ibm-symp-spreadsheet::before {
	left: 1px; text-transform: none; font-family: "icons-ibm-v3"; font-size: 2em; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; display: inline-block; position: absolute; speak: none; text-rendering: optimizeLegibility; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased;
}
.ibm-usergroup::before {
	left: 1px; text-transform: none; font-family: "icons-ibm-v3"; font-size: 2em; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; display: inline-block; position: absolute; speak: none; text-rendering: optimizeLegibility; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased;
}
#ibm-home a::before {
	left: 1px; text-transform: none; font-family: "icons-ibm-v3"; font-size: 2em; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; display: inline-block; position: absolute; speak: none; text-rendering: optimizeLegibility; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased;
}
.ibm-show-hide h2 a::before {
	left: 1px; text-transform: none; font-family: "icons-ibm-v3"; font-size: 2em; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; display: inline-block; position: absolute; speak: none; text-rendering: optimizeLegibility; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased;
}
.ibm-step-indicator .ibm-tabs li::after {
	left: 1px; text-transform: none; font-family: "icons-ibm-v3"; font-size: 2em; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; display: inline-block; position: absolute; speak: none; text-rendering: optimizeLegibility; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased;
}
ul.ibm-twisty > li a.ibm-twisty-trigger::before {
	left: 1px; text-transform: none; font-family: "icons-ibm-v3"; font-size: 2em; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; display: inline-block; position: absolute; speak: none; text-rendering: optimizeLegibility; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased;
}
.ibm-icon-after::after {
	left: 1px; text-transform: none; font-family: "icons-ibm-v3"; font-size: 2em; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; display: inline-block; position: absolute; speak: none; text-rendering: optimizeLegibility; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased;
}
.ibm-sitenav-menu-list > ul > li.ibm-haschildlist > button::after {
	left: 1px; text-transform: none; font-family: "icons-ibm-v3"; font-size: 2em; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; display: inline-block; position: absolute; speak: none; text-rendering: optimizeLegibility; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased;
}
.ibm-sitenav-menu-list > ul > li.ibm-haschildlist > span::after {
	left: 1px; text-transform: none; font-family: "icons-ibm-v3"; font-size: 2em; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; display: inline-block; position: absolute; speak: none; text-rendering: optimizeLegibility; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased;
}
.ibm-sitenav-menu-list > ul > li.ibm-haschildlist > a::after {
	left: 1px; text-transform: none; font-family: "icons-ibm-v3"; font-size: 2em; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; display: inline-block; position: absolute; speak: none; text-rendering: optimizeLegibility; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased;
}
#ibm-parent-link a::before {
	left: 1px; text-transform: none; font-family: "icons-ibm-v3"; font-size: 2em; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; display: inline-block; position: absolute; speak: none; text-rendering: optimizeLegibility; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased;
}
#ibm-navigation-trail li::after {
	left: 1px; text-transform: none; font-family: "icons-ibm-v3"; font-size: 2em; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; display: inline-block; position: absolute; speak: none; text-rendering: optimizeLegibility; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased;
}
.ibm-bullet::before {
	left: 1px; text-transform: none; font-family: "icons-ibm-v3"; font-size: 2em; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; display: inline-block; position: absolute; speak: none; text-rendering: optimizeLegibility; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased;
}
.ibm-close::before {
	left: 1px; text-transform: none; font-family: "icons-ibm-v3"; font-size: 2em; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; display: inline-block; position: absolute; speak: none; text-rendering: optimizeLegibility; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased;
}
#ibm-mast-options li::before {
	display: none;
}
#ibm-universal-nav li::before {
	display: none;
}
#ibm-category-nav li::before {
	display: none;
}
.ibm-tab-overlay ul li::before {
	display: none;
}
#ibm-common-menu .ibm-menu-subtabs li::before {
	display: none;
}
#ibm-social-tools li::before {
	display: none;
}
#ibm-navigation-trail li::before {
	display: none;
}
#ibm-primary-links > li::before {
	display: none;
}
.ibm-container-controls li::before {
	display: none;
}
.ibm-portlet-controls {
	display: none;
}
.ibm-share-this li::before {
	display: none;
}
.ibm-link-list li::before {
	display: none;
}
.ibm-live-assistance-list li::before {
	display: none;
}
#ibm-top .ibm-link-list li.ibm-link-description::before {
	display: none;
}
#ibm-top .ibm-live-assistance-list li.ibm-link-description::before {
	display: none;
}
#ibm-top .ibm-link-list li.ibm-chevron-link::before {
	display: none;
}
#ibm-top .ibm-live-assistance-list li.ibm-chevron-link::before {
	display: none;
}
#ibm-top .ibm-link-list li.ibm-chevron-alternate-link::before {
	display: none;
}
#ibm-top .ibm-live-assistance-list li.ibm-chevron-alternate-link::before {
	display: none;
}
.ibm-live-assistance-list li::before {
	display: none;
}
.ibm-twisty > li::before {
	display: none;
}
.ibm-portrait-module-list > li::before {
	display: none;
}
ul.ibm-tabs li::before {
	display: none;
}
.ibm-table-navigation li::before {
	display: none;
}
.ibm-table-navigation a::before {
	display: none;
}
#ibm-footer-module li::before {
	display: none;
}

.ibm-btn-row [class*='-link'] {
	padding-top: 9px; padding-left: 35px; position: relative;
}
.ibm-clear {
	
	height: 0px; clear: both; display: block; visibility: hidden; content: " ";
}
.ibm-fright {
	float: right !important;
}
.ibm-fleft {
	float: left !important;
}
.ibm-center-block {
	margin: 0px auto !important; float: none !important;
}
@media only screen and (max-width:579px) and (min-width:0px)
{
[class*='ibm-col-'].ibm-center-block {
	margin: 0px 10px !important;
}
}
.ibm-center-position {
	left: 50%; transform: translate3d(-50%, 0px, 0px); -webkit-transform: translate3d(-50%, 0px, 0px); -moz-transform: translate3d(-50%, 0px, 0px); -o-transform: translate3d(-50%, 0px, 0px);
}
.ibm-nospacing {
	margin: 0px !important; padding: 0px !important; min-height: 0px !important;
}
.ibm-fullwidth {
	width: 100%;
}


#ibm-footer-module {
	clear: both; background-color: rgb(245, 245, 245);
}
#ibm-footer {
	clear: both; background-color: rgb(245, 245, 245);
}
#ibm-footer-module ul li a {
	color: rgb(111, 112, 118);
}
#ibm-footer ul li a {
	color: rgb(111, 112, 118);
}
#ibm-footer-module ul li a:focus {
	color: rgb(59, 108, 170);
}
#ibm-footer-module ul li a:hover {
	color: rgb(59, 108, 170);
}
#ibm-footer ul li a:focus {
	color: rgb(59, 108, 170);
}
#ibm-footer ul li a:hover {
	color: rgb(59, 108, 170);
}
#ibm-footer-locale-selector {
	overflow: hidden; -ms-text-overflow: ellipsis;
}
#ibm-footer-module h3 {
	color: rgb(76, 77, 83);
}
#ibm-footer-module ul li {
	padding-bottom: 0px; padding-left: 0px;
}
#ibm-footer-module .ibm-columns {
	padding-bottom: 30px;
}
#ibm-footer-module .ibm-columns .ibm-col-6-2 {
	padding-top: 40px;
}
#ibm-footer-module .ibm-columns .ibm-col-4-1 {
	padding-top: 40px;
}
#ibm-footer-module .ibm-columns #ibm-footer-locale-selector {
	padding-top: 0px;
}
@media only screen and (max-width:579px) and (min-width:0px)
{
#ibm-footer-module .ibm-columns #ibm-footer-locale-selector {
	padding-top: 20px; padding-bottom: 20px;
}
}
#ibm-footer .ibm-columns {
	padding-bottom: 0px;
}
.ibm-alternate#ibm-footer .ibm-col-1-1 {
	padding: 8px 0px 40px;
}
.ibm-padding-normal.ibm-alternate#ibm-footer .ibm-col-1-1 {
	padding-bottom: 8px;
}
#ibm-footer #ibm-footer-locale-selector {
	padding-top: 10px; padding-bottom: 10px; float: right; min-width: 240px;
}
#ibm-footer #ibm-footer-locale-selector h3 {
	display: none;
}
#ibm-footer > ul {
	margin: 0px auto; padding: 20px 0px; font-size: 1rem;
}
#ibm-footer li {
	padding: 0px 20px 0px 0px; display: inline-block;
}
#ibm-footer .ibm-footer-corporate-links {
	padding: 22px 0px; display: inline-block;
}
#ibm-footer .ibm-footer-corporate-links ul {
	line-height: 1rem; padding-bottom: 0px;
}
#ibm-footer .ibm-footer-corporate-links a {
	padding: 10px 0px;
}
#ibm-footer .ibm-footer-social-links {
	padding: 15px 0px 0px; float: right; display: inline-block;
}
#ibm-footer .ibm-footer-social-links div {
	display: inline-block; position: relative;
}
#ibm-footer .ibm-footer-social-links div + div {
	margin-left: 15px;
}
#ibm-footer .ibm-footer-social-links a {
	padding: 0px; width: 1.62rem; color: transparent; display: inline-block; position: relative;
}
#ibm-footer .ibm-footer-social-links a::before {
	color: rgb(51, 51, 51);
}
#ibm-footer .ibm-footer-social-links a:focus::before {
	color: rgb(59, 108, 170);
}
#ibm-footer .ibm-footer-social-links a:hover::before {
	color: rgb(59, 108, 170);
}
#ibm-footer .ibm-footer-social-links a + a {
	margin-left: 15px;
}
#ibm-footer-module + #ibm-footer .ibm-columns .ibm-col-1-1 {
	border-top-color: rgb(199, 199, 199); border-top-width: 1px; border-top-style: solid;
}
@media only screen and (max-width:579px) and (min-width:0px)
{
#ibm-footer .ibm-footer-corporate-links li {
	display: block;
}
#ibm-footer .ibm-footer-corporate-links li a {
	display: block;
}
#ibm-footer #ibm-footer-locale-selector {
	width: 100%;
}
#ibm-footer #ibm-footer-locale-selector h3 {
	display: block;
}
#ibm-footer .ibm-footer-social-links {
	float: left;
}
#ibm-footer > ul {
	padding-left: 20px;
}
#ibm-footer > ul li {
	display: block;
}
#ibm-footer > ul li a {
	padding: 6px 0px; display: block;
}
}
.ibm-columns {
	margin: 0px auto; padding: 0px 10px; width: 960px; clear: both;
}
.ibm-default .ibm-columns {
	padding-left: 0px;
}
.ibm-default #ibm-footer-module .ibm-columns {
	padding-left: 10px;
}
.ibm-default #ibm-footer .ibm-columns {
	padding-left: 10px;
}
.ibm-columns {
	padding: 0px 10px 10px;
}
#ibm-top .ibm-container .ibm-columns {
	margin: 0px -10px;
}
.ibm-columns .ibm-columns {
	margin: 0px -10px; padding: 0px; width: auto;
}
.ibm-columns::after {
	height: 0px; overflow: hidden; clear: both; display: block; visibility: hidden; content: " ";
}
[class*='ibm-col-'] {
	margin: 0px 10px; float: left; min-height: 1px;
}
.ibm-col-4-1 {
	width: 220px;
}
.ibm-col-4-2 {
	width: 460px;
}
.ibm-col-2-1 {
	width: 460px;
}
.ibm-col-6-3 {
	width: 460px;
}
.ibm-col-4-3 {
	width: 700px;
}
.ibm-col-5-1 {
	width: 172px;
}
.ibm-col-5-2 {
	width: 364px;
}
.ibm-col-5-3 {
	width: 556px;
}
.ibm-col-5-4 {
	width: 748px;
}
.ibm-col-6-1 {
	width: 140px;
}
.ibm-col-6-2 {
	width: 300px;
}
.ibm-col-6-4 {
	width: 620px;
}
.ibm-col-6-5 {
	width: 780px;
}
.ibm-col-1-1 {
	width: 940px;
}
.ibm-default #ibm-content .ibm-col-2-1 {
	width: 268px;
}
#ibm-top {
	background: rgb(255, 255, 255); overflow: hidden; position: relative; min-width: 980px;
}
#ibm-pcon {
	background: rgb(255, 255, 255); margin: 0px auto; padding: 0px 0px 10px 202px; width: 778px;
}
#ibm-pcon::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: " ";
}
#ibm-pcon {
	margin: 0px auto; width: 980px; padding-left: 0px;
}
#ibm-pcon::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: " ";
}
#ibm-content {
	width: 100%; float: left;
}
#ibm-content-body {
	background: rgb(255, 255, 255); padding-top: 20px;
}
.ibm-landing-page #ibm-content-body {
	padding-top: 40px;
}
#ibm-content-main {
	width: 576px; padding-bottom: 10px; clear: left; float: left;
}
.ibm-default#ibm-top #ibm-content-main {
	width: 100%;
}
#ibm-content-sidebar {
	display: none;
}
.ibm-embed-video {
	height: 355px;
}
.ibm-landing-page #ibm-navigation {
	display: none;
}
.ibm-landing-page #ibm-pcon {
	padding: 0px; width: 100%;
}
.ibm-landing-page #ibm-content-main {
	width: 100%;
}
.ibm-band {
	padding: 15px 0px; background-color: rgb(247, 247, 247);
}
#ibm-leadspace-head {
	border-bottom-color: rgb(224, 224, 224); border-bottom-width: 1px; border-bottom-style: solid;
}
#ibm-leadspace-body {
	margin: 0px auto; padding: 30px 0px 90px; width: 980px; z-index: 10; min-height: 250px;
}
.ibm-landing-page .ibm-alternate#ibm-leadspace-head #ibm-leadspace-body {
	min-height: 90px;
}
.ibm-default #ibm-content #ibm-leadspace-head {
	border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none; min-height: 70px; _height: 70px;
}
.ibm-default #ibm-content #ibm-leadspace-body {
	padding-top: 20px; padding-bottom: 0px; min-height: inherit;
}
.ibm-landing-page #ibm-leadspace-body h1 + p {
	padding-top: 30px;
}
.ibm-landing-page .ibm-alternate#ibm-leadspace-head #ibm-leadspace-body h1 + p {
	padding-top: 15px;
}
.ibm-landing-page .ibm-video-background {
	overflow: hidden; position: relative;
}
.ibm-landing-page .ibm-video-background #ibm-leadspace-body {
	position: relative;
}
.ibm-video-background-container {
	left: 0px; top: 0px; width: 100%; overflow: hidden; position: absolute; z-index: 5;
}
#ibm-leadspace-body > h1 {
	padding-top: 0px; margin-right: 10px; margin-left: 10px;
}
#ibm-leadspace-body > p {
	margin-right: 10px; margin-left: 10px;
}
#ibm-leadspace-body > p em {
	color: rgb(90, 90, 90); font-style: normal;
}
#ibm-leadspace-body > p em span {
	display: block;
}
@media only screen and (max-width:579px) and (min-width:0px)
{
#ibm-leadspace-body > h1 {
	margin-right: 20px; margin-left: 20px;
}
#ibm-leadspace-body > p {
	margin-right: 20px; margin-left: 20px;
}
}
.ibm-landing-page #ibm-leadspace-head #ibm-leadspace-body > h1 {
	margin-left: 20px;
}
.ibm-landing-page #ibm-leadspace-head #ibm-leadspace-body > p {
	margin-left: 20px;
}
.ibm-landing-page #ibm-leadspace-head #ibm-leadspace-body > p em span {
	color: rgb(173, 22, 37);
}
.ibm-landing-page .ibm-alternate-background#ibm-leadspace-head #ibm-leadspace-body > p em {
	color: rgb(174, 174, 174);
}
.ibm-landing-page .ibm-alternate-background#ibm-leadspace-head #ibm-leadspace-body > p em span {
	color: rgb(253, 214, 0);
}
.ibm-button-link a {
	padding: 0.7em 1.12em; border: 2px solid rgb(50, 50, 50); border-image: none; text-align: center; overflow: hidden; text-decoration: none; display: inline-block; white-space: nowrap; cursor: pointer; -ms-text-overflow: ellipsis; min-height: 20px; min-width: 120px; max-width: 100%; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.ibm-button-link-alternate a {
	padding: 0.7em 1.12em; border: 2px solid rgb(50, 50, 50); border-image: none; text-align: center; overflow: hidden; text-decoration: none; display: inline-block; white-space: nowrap; cursor: pointer; -ms-text-overflow: ellipsis; min-height: 20px; min-width: 120px; max-width: 100%; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
[class*='ibm-col-'] .ibm-button-link {
	padding-bottom: 8px;
}
[class*='ibm-col-'] .ibm-button-link-alternate {
	padding-bottom: 8px;
}
.ibm-button-link a {
	border-color: rgb(50, 50, 50); color: rgb(255, 255, 255); background-color: rgb(50, 50, 50);
}
.ibm-button-link a:hover {
	border-color: rgb(0, 0, 0); text-decoration: none; background-color: rgb(0, 0, 0);
}
.ibm-button-link-alternate a {
	border-color: rgb(50, 50, 50); color: rgb(50, 50, 50); background-color: transparent;
}
.ibm-button-link-alternate a:hover {
	border-color: rgb(50, 50, 50); color: rgb(255, 255, 255); background-color: rgb(50, 50, 50);
}
.ibm-button-link a.ibm-button-small {
	padding: 0.4em 1em; min-width: 75px;
}
.ibm-button-link-alternate a.ibm-button-small {
	padding: 0.4em 1em; min-width: 75px;
}
a.ibm-disabled {
	border: 2px solid rgb(239, 239, 241); border-image: none; color: rgb(135, 138, 140); cursor: default; background-color: rgb(239, 239, 241);
}
a.ibm-disabled:hover {
	border: 2px solid rgb(239, 239, 241); border-image: none; color: rgb(135, 138, 140); cursor: default; background-color: rgb(239, 239, 241);
}
ul#ibm-navigation-trail {
	padding: 0px 20px 30px 10px; height: 1%; text-shadow: none;
}
ul#ibm-navigation-trail::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: " ";
}
ul#ibm-navigation-trail li {
	padding: 0px; clear: none; font-size: 1rem; margin-right: 10px; float: left; display: inline;
}
ul#ibm-navigation-trail li::after {
	font-size: 1rem; margin-left: 10px; position: relative;
}
ul#ibm-navigation-trail li a:link {
	color: rgb(90, 90, 90);
}
ul#ibm-navigation-trail li a:visited {
	color: rgb(90, 90, 90);
}
.ibm-landing-page ul#ibm-navigation-trail {
	padding-left: 20px;
}
.ibm-landing-page .ibm-alternate-background ul#ibm-navigation-trail li a {
	color: rgb(174, 174, 174);
}
#ibm-masthead {
	top: 0px; width: 100%; z-index: 900; background-color: #2d3b41;
}
.ibm-sitenav-menu-sticky #ibm-masthead {
	z-index: 810;
}
.ibm-masthead-sticky.ibm-sitenav-menu-sticky #ibm-masthead {
	z-index: 830;
}
#ibm-mast-options {
	display: none;
}
#ibm-universal-nav {
	background: #2d3b41; height: 50px; border-bottom-color:#2d3b41; border-bottom-width: 1px; border-bottom-style: solid; position: relative; z-index: 2;
}
#ibm-home {
	overflow: hidden; margin-left: 20px; float: left; position: relative;
}
.ibm-animate#ibm-home a {
	animation-name: fadein; animation-duration: 1.4s; animation-timing-function: ease-in; -webkit-animation-name: fadein; -webkit-animation-duration: 1.4s; -webkit-animation-timing-function: ease-in;
}
.ibm-animate#ibm-home a::before {
	animation-name: glow; animation-duration: 2.2s; animation-delay: 0.4s; -webkit-animation-name: glow; -webkit-animation-duration: 2.2s; -webkit-animation-delay: .4s;
}
#ibm-home a {
	width: 60px; height: 50px; color: transparent; text-indent: 200px; border-bottom-color: transparent; border-bottom-width: 2px; border-bottom-style: solid; display: block; box-sizing: border-box;
}
 
 